$darkTheme: (
  content-primary-bg-color: $black,
  content-primary-color: $white,
  content-secondary-bg-color: $mineshaft,
  content-secondary-color: $alto,
  button-primary-bg-color: $white,
  button-primary-color: $black,
  button-primary-border: 1px solid $dustygray,
  padding-small: 0.5rem,
  padding-medium: 1rem,
  padding-normal: 2rem
)