$defaultTheme: (
  content-primary-bg-color: $alto,
  content-primary-color: $black,
  content-secondary-bg-color: $alabaster,
  content-secondary-color: $dustygray,
  button-primary-bg-color: $azure,
  button-primary-color: $white,
  button-primary-border: 1px solid $alto,
  padding-small: 0.5rem,
  padding-medium: 1rem,
  padding-normal: 2rem
)