// basic colors
$black: #000000;
$white: #ffffff;
$red: #ff0000;
$transparent: rgba(0, 0, 0, 0);
$semitransparent: rgba(0, 0, 0, 0.5);

$alto: #dedede;
$azure: #336699;
$alabaster: #f9f9f9;
$dustygray: #999999;
$mineshaft: #333333;
