$font-extra-small: 1rem;
$font-smaller: 1.1rem;
$font-small: 1.2rem;
$font-light: 1.4rem;
$font-normal: 1.6rem;
$font-large: 1.8rem;
$font-large1: 2rem;
$font-large2: 2.2rem;
$font-larger: 2.4rem;
$font-extra-large: 3rem;
$font-extra-extra-large: 3.6rem;

$georgia: "Georgia", "Cambria", "Times New Roman", "Times", serif;
$helvetica: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
$lucida-grande: "Lucida Grande", "Tahoma", "Verdana", "Arial", sans-serif;
$monospace: "Bitstream Vera Sans Mono", "Consolas", "Courier", monospace;
$verdana: "Verdana", "Geneva", sans-serif;

$font-stack: $helvetica;