@import '../../styles/themes.scss';

.example-class-component {
  @include themify() {
    background-color: themed('content-primary-bg-color');
    color: themed('content-primary-color');
  }

  .example-class-component__counter {
    @include themify() {
      padding: themed('padding-normal');
    }
    display: block;  
  }

  .example-class-component__button {
    @include themify() {
      background-color: themed('button-primary-bg-color');
      color: themed('button-primary-color');
    }
  }
}