@import '../../styles/variables.scss';

.example-class-component {
  background-color: $content-primary-bg-color;
  color: $content-primary-color;
  
  .example-class-component__counter {
    display: block;
    padding: $padding-normal;
  }

  .example-class-component__button {
    background-color: $button-primary-bg-color;
    color: $button-primary-color;
  }
}